.card {
    background-color: var(--blog);
    margin: 8px 1px;
    cursor: pointer;
}

.card-title {
    font-size: larger;
    font-weight: bold;
    padding: 8px;
    color: #32293d;
}

.card-date {
    color: #37313d;
    font-size: smaller;
    padding: 0px 2px 2px 24px;
}
